$card-image-width: 200px;
$card-width: calc(200px + 2rem);

.card {
  width: $card-width;
  border: 1px solid #eee;
  padding: 1rem;
}

.cardTitle {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 700;
}

.cardBody {
  border-top: 1px solid #eee;
  padding-top: 0.5rem;
}

.cardImage {
  width: $card-image-width;
  padding-bottom: 0.5rem;
}
